<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form action="/login" method="post" class="login-form">
          <input type="text" placeholder="username" name="username" />
          <input type="password" placeholder="password" name="password" />
          <button id="submit" type="submit">login</button>
          <p class="message">
            Not registered? <a id="crt-acc-btn" href="#">Create an account</a>
          </p>
        </form>
      </div>
    </div>
  </body>
  <script src="/javascripts/loginpage.js"></script>
</html>
